*{
    margin: 0;
    padding: 0;
}
.nav-item{
    color: white;
}
.row div{
    height: 12px;
}
.row .col{
    background-color: lightgray;
}
.alert1{
    background-color: rgb(247, 247, 109);
}
.task4 .alert p{
margin-bottom: 0;
}
.formbg{
    background-color: rgb(238, 234, 234);
}